body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
h1{
  text-align:center;
  background-color: white;
  color:#183D3D ;
  border: 5px solid #183D3D;
  padding: 10px 0px;
}
.container{
  background-color: #183D3D;
  color: white;
  width:100%;
  height: 100%;
  border:black;
  padding-bottom: 10px;
}
*{
  font-size: 2vm;
  background-color: #183D3D ;
}
input[type=submit]{
  border-radius:10%;
  border-color:white;
  background-color: white;
  padding:10;
  float:center;
  margin-top:10px;
   margin-left:47%;
}
.col-25{
  float:left;
  width:25%;
  margin-top:10px;

}
.col-30{
  float:left;
  width:35%;
  margin-top:10px;
 
}
.col-75{
  float:left;
  width:75%;
  margin-top:10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text],textarea,select,option{
  width:90%;
  box-sizing: border-box;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
 
}
.required:after{
  content: "*";
  color: red;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
    
  }
  input[type=submit]{
    width:30%;
    border-radius:0;
    float: centre;
    
  }
}